<h1>Welcome / Välkommen / Willkommen </h1>
<p>This is the personal web site of the Rudat-Martikainen family.</p>
<p>Detta är familjen Rudat-Martikainens privata sajt.</p>
<ul>
  <li><%= link_to "My Account / Om mig", edit_account_path(current_user)  %></li>
  <li><%= link_to "Photo Collections / Foton", collections_path %></li>
</ul>
